html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
body.preload {
    visibility: hidden;
}
.inline {
    display: inline;
}
.table.vertical td {
   vertical-align: middle !important;
}
a[href^="http://"] {
    background: url(../img/external.png) center right no-repeat;
    padding-right: 13px;
}
.margin10 {
    margin: 10px 0;
}
.margin20 {
    margin: 20px 0;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}
.badge {
    padding: 3px 6px 3px;
    background: #aaa;
    font-weight: normal;
}
img {
    -ms-interpolation-mode: bicubic;
}
img.thumb {
    width: 72px;
    height: 40px;
    background: url(../img/pxl.png) 50% no-repeat;
    /*background-size: cover;*/
    border-radius: 2px;
}
.fixed {
    position: fixed;
}
.hidden {
    display: none;
}
th.pointer, td.pointer {
    border: 0 !important;
    background: #fff url(../img/pointer_border.png) right repeat-y !important;
}
.pointer_bg {
    border: 0 !important;
    background: #fff url(../img/pointer_border.png) right repeat-y !important;
    padding: 0 18px 10px 0;
}
@media (max-width: 767px) {
    .pointer_bg {
        padding-right: 0;
        background: none !important;
    }
}
td.pointer.active {
    border-right: 0 !important;
    background: #fff url(../img/pointer.png) right 50% no-repeat !important;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height */
    padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 50px;
    background-color: #f5f5f5;
    font-size: 13px;
}
#wrap > .container {
    padding: 70px 15px 0;
}
.container .credit {
    margin: 18px 0 12px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.text-muted a {
    color: inherit;
}

p.alert {
    padding: 8px;
}

body.login {
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
body.login #wrap {
    margin: 0 auto -10px;
    padding: 0 0 10px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}