@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-o-keyframes shake {
    from { o-transform:  rotate(0deg); }
    to { o-transform:  rotate(360deg);  }
}

@-ms-keyframes shake {
    from { ms-transform:  rotate(0deg); }
    to { ms-transform:  rotate(360deg);  }
}

.animate-spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes shake {
    0%   { transform:  translate(0px,0px); }
    50%  { transform:  translate(-10px,0px); }
    100% { transform:  translate(0px,0px); }
}
@-moz-keyframes shake {
    0%   { -moz-transform:  translate(0px,0px); }
    50%  { -moz-transform:  translate(-10px,0px); }
    100% { -moz-transform:  translate(0px,0px); }
}
@-webkit-keyframes shake {
    0%   { -webkit-transform:  translate(0px,0px); }
    50%  { -webkit-transform:  translate(-10px,0px); }
    100% { -webkit-transform:  translate(0px,0px); }
}
@-o-keyframes shake {
    0%   { -o-transform:  translate(0px,0px); }
    50%  { -o-transform:  translate(-10px,0px); }
    100% { -o-transform:  translate(0px,0px); }
}
@-ms-keyframes shake {
    0%   { -ms-transform:  translate(0px,0px); }
    50%  { -ms-transform:  translate(-10px,0px); }
    100% { -ms-transform:  translate(0px,0px); }
}
.animate-shake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: shake;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: shake;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}