@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?') format('embedded-opentype'),
    url('../fonts/proximanova-light-webfont.woff') format('woff'),
    url('../fonts/proximanova-light-webfont.ttf') format('opentype'),
    url('../fonts/proximanova-light-webfont.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?') format('embedded-opentype'),
    url('../fonts/proximanova-regular-webfont.woff') format('woff'),
    url('../fonts/proximanova-regular-webfont.ttf') format('opentype'),
    url('../fonts/proximanova-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova SemiBold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?') format('embedded-opentype'),
    url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
    url('../fonts/proximanova-semibold-webfont.ttf') format('opentype'),
    url('../fonts/proximanova-semibold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?') format('embedded-opentype'),
    url('../fonts/proximanova-bold-webfont.woff') format('woff'),
    url('../fonts/proximanova-bold-webfont.ttf') format('opentype'),
    url('../fonts/proximanova-bold-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}