#campaign-list {
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    width: 10px;
    overflow: hidden;
    padding: 50px 0px 80px;
    background: #fff;
    z-index: 1;
    cursor: pointer;
}
#campaign-list #closedbar {
    border-right: 1px solid #ccebe0;
    width: 10px;
    background: #e2f8f0;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 90px 1px 0;
    left: 0;
    font-size: 1em;
    text-align: center;
    color: #004c33;
}
#campaign-list #closedbar:hover {
    border-right: 1px solid rgba(0, 153, 102, 1);
    background: rgba(0, 153, 102, 1);
    color: #fff;
}
body.notice #campaign-list #closedbar {
    padding: 123px 1px 0;
}
#campaign-list #close-sidebar {
    display: none;
}
#campaign-list.on {
    height: 100%;
    position: fixed;
    top: 60px;
    width: 240px;
    padding: 25px 15px 80px;
    border-right: 1px solid #ddd;
    background: #f8fafa;
    text-indent: 0px;
}
body.notice #campaign-list.on {
    padding-top: 58px;
}
#campaign-list.on #closedbar {
    display: none;
}
#campaign-list.on #close-sidebar {
    display: block;
}
#campaign-list h4 {
    color: #f8fbfb;
}
#campaign-list.done h4 {
    color: #222;
}
#campaign-list ul {
    display: none;
}
#campaign-list.done ul {
    display: block;
}
#campaign-list .tree li a {
    padding: 3px 0 2px 8px !important;
    border-radius: 5px;
}
#campaign-list ul.tree {
    margin: 0 0 15px 0;
}
body.nosidebar {
    margin-left: 10px;
}
body { /* .sidebar*/
    margin-left: 240px;
}
#sidebar-pin {
    display: none;
    float: right;
    border: 1px solid #ccc;
    border-color: #eee #999 #999 #eee;
    background: #fff url('../icons/pin.svg') 50% no-repeat;
    background-size: cover;
    padding: 2px;
    width: 22px;
    height: 22px;
    border-radius: 3px;
}
#sidebar-pin.pinned {
    box-shadow: inset 0 0 1px #aaa;
    border: 1px solid #bbb;
    opacity: .8;
}
#campaign-list.done #sidebar-pin {
    display: block;
}
#sidebar-container {
    height: 100%;
    margin: -20px -15px 0;
    padding: 20px 15px;
    overflow-y: auto;
}