table.rhsa_wrapper {
	width: 560px !important;
	display: block !important;
	direction: ltr !important;;
}
table.rhsa_wrapper td {
	font-size: 14px !important;
	line-height: 140% !important;
	font-family: arial,helvetica,sans-serif !important;
    color: #323232 !important;
	text-align: left !important;
}
table.rhsa_wrapper td a {
	color: #2585c7 !important;
}
table.rhsa_wrapper td img {
	max-width: 100% !important;
	border: 0 !important;
	image-rendering: optimizeQuality !important;
	-ms-interpolation-mode: bicubic !important;
}
table.rhsa_wrapper td hr {
	height: 1px !important;
	background: transparent !important;
	border: 0 !important;
	border-top: 1px dashed #ccc !important;
	margin: 16px 0;
}
table.rhsa_wrapper td div.rhsa_header {
	border-bottom: 1px solid #eee !important;
	padding-bottom: 9px !important;
	margin: 10px 0 20px !important;
}
table.rhsa_wrapper td div.rhsa_main {
	margin: 15px 0 !important;
}
table.rhsa_wrapper td div.rhsa_footer {
	margin: 34px 0 10px !important;
	border-top: 1px solid #eee !important;
	color: #999 !important;
	font-size: 11px !important;
	line-height: 1.4 !important;
}
table.rhsa_wrapper td div.rhsa_footer a {
	color: inherit !important;
}
table.rhsa_wrapper td h1 {
	font-weight: normal !important;
	font-size: 30px !important;
	line-height: 140% !important;
	letter-spacing: -1px !important;
	margin: 0 !important;
}
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
	table.rhsa_wrapper * {
		-webkit-font-smoothing: antialiased !important;
		-webkit-text-size-adjust: none !important;
		font: default !important;
	}
	table.rhsa_wrapper {
		width: 100% !important;
	}
	table.rhsa_wrapper td {
		font-size: 16px !important;
		line-height: 130% !important;
	}
	table.rhsa_wrapper td div.rhsa_footer {
		font-size: 12px !important;
		line-height: 130% !important;
	}
	table.rhsa_wrapper td h1 {
		font-weight: normal !important;
		font-size: 24px !important;
		line-height: 140% !important;
	}
}
@media only screen and (max-device-width: 480px) and (orientation: landscape) {
	table.rhsa_wrapper {
		zoom: .4 !important;
		width: 100% !important;
	}
	table.rhsa_wrapper td {
		font-size: 10px !important;
		line-height: 140% !important;
	}
	table.rhsa_wrapper td div.rhsa_footer {
		font-size: 8px !important;
		line-height: 150% !important;
	}
}